name: Deploy to Github Pages

on: 
  workflow_dispatch:
  push:
    branches:
      - main


permissions:
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on:  ubuntu-latest

    steps:
      - name: Check Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      
      - name: Install Dependencies
        run:  npm ci

      - name: Build Project
        run:  npm run build

      - name: Upload Site
        uses: actions/upload-pages-artifact@v4
        with: 
          path: ./dist

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4